version: '3.9'  # ou 3.x
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5005:5005"
    env_file:
      - ./backend/.env.local
    restart: always
    networks:
      - backend-database-net
      - backend-frontend-net

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    env_file:
      - ./frontend/.env.local
    restart: always
    networks:
      - backend-frontend-net
      - backend-database-net
    depends_on:
      - backend

networks:
  backend-database-net:
    driver: bridge
  backend-frontend-net:
    driver: bridge
