version: '3.9'  # ou 3.x
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5005:5005"
    # environment:
    #   DB_HOST: mainchanges-postgres-db.crwi4cya2xob.eu-central-1.rds.amazonaws.com
    #   DB_PASSWORD: 123Senda?456
    #   DB_NAME: Budget
    #   PORT: 5005
    env_file:
      - ./backend/.env.local
    restart: always
    networks:
      - backend-database-net
      - backend-frontend-net

  frontend:
    build:
      context: ./frontend
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL}
    container_name: frontend
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - ./frontend/.env.local
    restart: always
    networks:
      - backend-frontend-net
      - backend-database-net
    depends_on:
      - backend

networks:
  backend-database-net:
    driver: bridge
  backend-frontend-net:
    driver: bridge
