version: '3.9'  # ou 3.x
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5005:5005"
    environment:
      DB_HOST: ${DB_HOST}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      PORT: ${PORT}
      JWT_SECRET: ${JWT_SECRET}
    env_file:
      - ./backend/.env.local
    restart: always
    networks:
      - backend-database-net
      - backend-frontend-net

  frontend:
    build:
      context: ./frontend
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL}
    container_name: frontend
    ports:
      - "80:80"
    env_file:
      - ./frontend/.env.local
    restart: always
    networks:
      - backend-frontend-net
      - backend-database-net
    depends_on:
      - backend

networks:
  backend-database-net:
    driver: bridge
  backend-frontend-net:
    driver: bridge
