services:

#  postgres-db:
#    image: postgres:16.4
#    container_name: postgres_db
#    #restart: always
#    environment:
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: 1VMgjjD3D4kW
#      # Need to change the password!!!
#      POSTGRES_DB: postgres
#    networks:
#      - backend-database-net      
#    ports:
#      - "5432:5432"
#    volumes:
#       - postgres_db_volume:/var/lib/postgresql
#    healthcheck:
#      test: ["CMD", "pg_isready", "-U", "postgres", "-h","localhost"] # should be checked because of the user name and database(postgres resp. budget)
#      interval: 2s      # run every 10 seconds
#      timeout: 5s        # fail if takes longer than 5s
#      retries: 5         # mark as unhealthy after 5 failures
#      #start_period: 20s  # wait 20s before first check (gives Postgres time to boot)  

    backend:
      container_name: backend
      build: ./backend
      ports: 
        - "5005:5005"
      env_file:
        - ./backend/.env.local
      restart: always
    networks:
      - backend-database-net
      - backend-frontend-net
#    depends_on:
#      postgres-db:
#        condition: service_healthy

    frontend:
      container_name: frontend
      build: ./frontend
      environment:
        REACT_APP_API_URL: http://${BACKEND_HOST:-backend}:5005
      depends_on:
        - backend
      restart: always
      ports: 
        - "80:80"
      networks:
        - backend-frontend-net

    networks:
      backend-database-net:
        driver: bridge
      backend-frontend-net:
        driver: bridge

#volumes:
#  postgres_db_volume:
#  db_data:
