/* Nur Desktop
/* Hamburger*/
/* .hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}


@media (min-width: 769px) {
  .navbar-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

/* Nur Mobile */
/* @media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 100%;
    background: white;
    padding: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    border-top: 2px solid #ccc;
  }

  .navbar-links.open {
    display: flex !important;
  }
} */

/*Tabellen*/
/* @media (max-width: 768px) {
  .expenses-table tbody tr td:nth-child(3),
  .expenses-table tbody tr td:nth-child(4) {
    display: none !important;
  }

  .incomes-table tbody tr td:nth-child(3) {
    display: none !important;
  }
} */

/* logo*/
/* .logo-dark {
  display: none;
}
.logo-light {
  display: block;
}

.dark .logo-dark {
  display: block;
}
.dark .logo-light {
  display: none;
} */
