name: Terraform_Destroy

#on: [push, workflow_dispatch]

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "staging"

jobs:
    terraform-destroy:
        runs-on: ubuntu-latest
#        if: github.event_name == 'workflow_dispatch'
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3

            - name: Setup AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_ACCESS_SECRET_KEY }}
                  aws-region: eu-central-1

            - name: Terraform Init
              run: | 
                cd budget-infra
                terraform init
            
            - name: Attempt Terraform Destroy
              run: |
                cd budget-infra
                terraform destroy -auto-approve -lock-timeout=5m
              continue-on-error: true

            - name: Force Unlock if Needed
              if: failure() # Only run if previous step failed
              run: |
                cd budget-infra
                # Replace LOCK_ID with the actual lock ID from the error message
                LOCK_ID=$(terraform state pull | grep 'ID' | head -n1 | awk '{print $2}')
                echo "Force unlocking Terraform state: $LOCK_ID"
                terraform force-unlock $LOCK_ID
                terraform destroy -auto-approve -lock-timeout=1m

        